BODY {
  color:            black;
  background-color: white;
  font-family:      sans-serif;
  font-size:        small;
  font-style:       normal;
  font-weight:      normal;
  margin-top:       2em;
  margin-bottom:    5em;
  margin-left:      5%;
  margin-right:     8%;
  text-align:       left;   /* discourage justification */
  letter-spacing:   0;  /* in fact, switch it right off */
  /* line-height:   125% */
}

H1 {
  padding:        6px;
  background:     #ffa500;
  color:          #004000;
  border:         2px solid #008000;
}

H2 {
  padding:        6px;
  background:     #ffa500;
  color:          #004000;
  border:         2px solid #008000;
}

H3 {
  padding:        6px;
  background:     #ffa500;
  color:          #004000;
  border:         2px solid #008000;
}

H4 {
  padding:        6px;
  background:     #ffa500;
  color:          #004000;
  border:         2px solid #008000;
}

form {
  background:     #fff8f0;
}

th.daylabel {
    text-align: right;
}

th.ralabel {
    text-align: right;
}

ul.compactlist {
    display: inline;
}

table.skills_check_table {
    border:    1px;
}

td.level_0, th.level_0 {
    background:    grey;
}

td.level_1, th.level_1 {
    background:    bronze;
}

td.level_2, th.level_2 {
    background:    silver;
}

td.level_3, th.level_3 {
    background:    gold;
}

th.profile_group {
    vertical-align: top;
    padding:        1em;
}

/* lists of equipment for which a person has a given role */

.username {
    background-color: #fff8d0;
    padding:          0.5em;
}

.user {
    background-color: #fff8d0;
    padding:          0.5em;
}

.owner {
    background-color: #fff8d0;
    padding:          0.5em;
}

.trainer {
    background-color: #fff8d0;
    padding:          0.5em;
}

/* lists of events */

.event_title  {
    background-color: #fff8d0;
    padding:          0.5em;
}

.event_type  {
    background-color: #fff8d0;
    padding:          0.5em;
}

.event_start  {
    background-color: #fff8d0;
    padding:          0.5em;
}

.event_end  {
    background-color: #fff8d0;
    padding:          0.5em;
}

.location  {
    background-color: #fff8d0;
    padding:          0.5em;
}

.hosts  {
    background-color: #fff8d0;
    padding:          0.5em;
}

.event_equipment_type  {
    background-color: #fff8d0;
    padding:          0.5em;
}

/* lists of event completion results */

.unknown {
}

.no_show {
    background-color: black;
    color:            white;
}

.failed {
    background-color: red;
}

.passed {
    background-color: green;
}

/* buttons etc */

.button {
    border:        1px;
    border-style:  outset;
    border-radius: 8%;
    padding:       0.25em;
    background:    #80c080;
}

.negbutton {
    border:        1px;
    border-style:  outset;
    border-radius: 8%;
    padding:       0.25em;
    background:    #ffa500;
}

.adminbutton {
    border:        px red;
    border-style:  outset;
    border-radius: 8%;
    padding:       0.25em;
    background:    #ffa500;
}

.tabset {
    overflow:         hidden;
    border:           1px solid #ccc;
    background-color: #f1f1f1;
    display:          flex;
    flex-flow:        row wrap;
    align-items:      stretch;
}

.tabset button {
    background-color: #ffb510;
    color:            #004000;
    float:            left;
    border:           1px solid #008000;
    outline:          none;
    cursor:           pointer;
    padding:          14px 16px;
    transition:       0.3s;
    width:            20em;
    flex-grow:        1;
}

/* .tablinks { */
/*     width:  20em; */
/* } */

.tab button:hover {
    background-color: #ffb510;
}

.tab button.active {
    background-color: #ffa500;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.helped {
    vertical-align: top;
    padding:        3em;
}

.help {
    vertical-align: top;
    padding:        3em;
    font-style:     italic;
    width:          30%;
}

.privacy_warning {
    font-style:  italic;
    font-weight: bold;
    font-size:   small;
}

.privacy_warning::before {
    content:     "Privacy warning: ";
    font-style:  italic;
    font-weight: bold;
    font-size:   small;
    color:       red;
}

form.ban_form {
    background-color: red;
    color:            yellow;
}

form.permit_form {
    background-color: green;
    color:            yellow;
}

p.the_small_print {
    font-size: small;
}
